# Kotlin Toolchain
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-*
.classpath
.project
.settings/
bin/

# Temp files
*~
*.log
*.swp
*.tmp
.DS_Store

# Application
application-*.properties

.attach_pid*
IMPLEMENTATION_PLAN.md
PROGRESS.md
.ralph/
PROMPT_plan.md
PROMPT_build.md
